.single-chat {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.chatbox-text {
    position: relative;
    top: 50%;
} 

.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    height: 100%;
    margin: 5px;
}

.message-bar {
    width: 100%;
}

.input-message {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.bar-contents .input-message input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}

.send-icon {
    width: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.send-icon:hover {
    background-color: rgb(223, 221, 221);
}